name: Build and deploy dev-e2e-tests
on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' 
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
      - 'tests/prod-uptest.spec.js'
      - 'tests/prod-checklinks.spec.js'
      - '.github/workflows/deploy-prod-e2e-tests.yml'
      - '.github/workflows/prod-checklinks.yml'

jobs:
  build_and_deploy:
    name: Build, push and deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      actions: read
    steps:
      - uses: actions/checkout@v4
        with:
          repository: navikt/arbeidsplassen-e2e-tests
          fetch-depth: 0
      - name: Build and push
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: arbeidsplassen
      - name: Deploy to Nais
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/dev-e2e-tests.yaml
          VAR: image=${{ steps.docker-build-push.outputs.image }}
          TELEMETRY: ${{ steps.docker-build-push.outputs.telemetry }}
